//variables
/* are places for sharing information that you want to reuse throughout 
your stylesheet. you can store thinks like colours, font-atacks, 
or any css value you can thing of. Variables are declared using '$'*/

//color
$primary: #3498db;
$primary-dark: #2980b9;
$background: #f5f5f5;


//fonts
$font: Arial, Helvetica, sans-serif;