@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*1st-buttons*/
h1{
  position: relative;
  font-family: sans-serif;
  text-align: center;
  font-size: 100px;
  color: grey;
  text-decoration: none;
}

.felipeicons{
  text-align: center;
  font-size: 100px;
  text-decoration: none;
}

body {
  background: #222 url("http://25.media.tumblr.com/a408ad9af259cf827ed4599d60bcb0a9/tumblr_myebwtELvb1st5lhmo1_1280.jpg") no-repeat fixed center;
  background-size: cover;
  overflow: hidden;
}

.social {
  position: absolute;
  width: 100%;
  top: 70%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link{
  @include big-button(#fff, $primary-dark);
  }

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}
